.gradient-background {
  background: radial-gradient(circle at top, #ba099f, #5c42bb);
}

h1 .heading {
  font-family: "MuseoModerno", sans-serif;
}

.btn-primary {
  background-color: #ba099f;
  border-color: #ba099f;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color:#ba099f;
  
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  border-color: #ba099f;
  color: #ba099f;
}

.btn {
  border-color: #ba099f;
}

.nav-link {
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}

.text-body-emphasis {
  color: #450b4d !important;
}

svg {
  background: radial-gradient(circle at top, #ba099f, #5c42bb);
}

.nav{
  --bs-nav-link-hover-color: rgb(97, 12, 101); 
}

.card.shadow-sm img {
  width: 100%;
  padding: 5px;
  
}


*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0f72e5;
}
.popup{
    background-color: #e58effc6;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    font-style: italic;
    display: none;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

.card:hover{
  scale: 1.2rem;
  transition: 15ms;
  cursor:pointer;
}